h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

h1 {
    color: #334D55;
    font-family: Verdana, Arial, sans-serif;
    font-size: 120%;
}

h2 {
    color: #006699;
    font-family: Arial, sans-serif;
    font-size: 114%;
}

h3 {
    color: #334D55;
    font-family: Arial, sans-serif;
    font-size: 100%;
}

h4 {
    color: #333333;
    font-family: Arial, sans-serif;
    font-size: 100%;
    font-weight: normal;
}

h5 {
    color: #334D55;
    font-family: Verdana, Arial, sans-serif;
    font-size: 100%;
}

/* Body Content */
body {
    background: #FFF;
    color: #333333;
    font-family: Arial, sans-serif;
    line-height: 1.166;
    margin: 0 auto;
    padding: 0;
    width: 940px;
}

#masthead {
    padding: 0;
    border-bottom: 1px solid #CCCCCC;
    width: 100%;
}

#siteName {
    background: url(../image/grontho3.gif) no-repeat; /*site name background*/
    color: #0000FF;
    font-family: Georgia, "Times New Roman", Times, serif;
    height: 80px;
    margin: 0;
    padding: 2px 0 0 400px;
    width: auto;
}

#siteName a {
    color: #CCCCCC;
    display: block;
    margin: 20px;
    text-align: center;
    text-decoration: none;
}

#siteName a:hover {
    text-decoration: none;
    color: #CCCCFF;
}

#header {
    background: url(../image/green_bg.jpg) repeat-y;
    color: #999;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    padding: 0;
}

#header a {
    color: #FFFFFF;
    text-decoration: none;
}

#header a:hover {
    color: #fff;
}

/* Navigation */
#header ul#nav, #header ul#nav * {
    z-index: 20;
}

#header ul#nav {
    border: 0 none;
    width: auto;
    list-style: none;
    padding: 0;
    float: left;
    margin: 0 auto;
    height: 35px;
    text-align: center;
}

#header ul#nav li {
    margin: 0;
    border: 0 none;
    float: left;
    display: inline;
    list-style: none;
    position: relative;
    height: 50px;
    line-height: 50px;
    padding: 0 40px 0 0;
}

#header ul#nav li#home-link {
    padding: 0 40px 0 20px;
}

#header ul#nav ul {
    margin: 0;
    border: 0 none;
    padding: 0;
    width: 110px;
    list-style: none;
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    text-align: left;
}

#header ul#nav ul li {
    width: 110px;
    float: left; /*For IE 7 lack of compliance*/
    display: inline-block !important;
    position: relative;
    top: 0;
    height: 30px;
    line-height: 30px;
    padding: 0;
    background: url(../image/btn3.jpg) no-repeat;
}

/* Root Menu */
#header ul#nav a {
    float: none !important;
    display: block;
    height: auto !important;
    padding: 0 10px;
}

#header ul#nav li.active a {
    color: #ddd;
}

#header ul#nav li.active a:hover {
    color: #fff;
}

/* Root Menu Hover Persistence */
#header ul#nav a:hover,
#header ul#nav li:hover a,
#header ul#nav li.iehover a {
    color: #fff;
    border: double #CCCCFF;
}

/* 2nd Menu */
#header ul#nav li:hover li a,
#header ul#nav li.iehover li a {
    text-transform: none;
    padding: 0 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 30px;
    color: #999;
}

/* Do Not Move - Must Come Before display:block for Gecko */
#header ul#nav li:hover ul ul,
#header ul#nav li:hover ul ul ul,
#header ul#nav li.iehover ul ul,
#header ul#nav li.iehover ul ul ul,
#header ul#nav li:hover ul,
#header ul#nav ul li:hover ul,
#header ul#nav ul ul li:hover ul,
#header ul#nav li.iehover ul,
#header ul#nav ul li.iehover ul,
#header ul#nav ul ul li.iehover ul {
    display: block;
}

label {
    font-family: Arial, sans-serif;
    font-size: 100%;
    font-weight: bold;
    color: #334D55;
    display: block;
}

/***********************************************/
/*                  Layout Divs                */
/***********************************************/

/************** #content styles ***************/

#content {
    background-color: #C6DBFF;
    font-size: 80%;
    height: 100%;
    padding: 10px 10px 0;
    overflow: hidden;
}

#content .message-block {
    font-size: 18px;
    text-align: center;
}

#content .message-block p {
    margin: 10px 0 15px;
}

#content .message-block p.success {
    color: #1177DD;
}

#content .message-block p.failure {
    color: #FF0000;
}

div.left-content {
    float: left;
}

div.right-content {
    float: right;
}

div.left-content,
div.right-content {
    width: 49.5% !important;
}

#content h3 {
    padding: 30px 0 5px 0;
    text-align: center;
}

#content form {
    background-color: #C6FFFF;
    padding: 5px;
    margin: 0 0 10px;
}

#content form table.centered {
    margin: 0 auto;
    width: 60%;
}

#content form span.stars {
    padding-left: 2px;
}

#content form span.error,
#content form .errorMsg {
    color: #FF0000;
    display: block;
    font-size: 12px;
}

#content form span.error {
    font-size: 16px;
    text-align: center;
}

#content form .errorMsg,
#content form select {
    margin-left: 2px;
}

#content form select {
    width: 250px;
}

#content form fieldset legend {
    color: #02468A;
    font-size: 16px;
    font-weight: 600;
}

#content form .submit-clear {
    margin: 0 auto;
    width: 120px;
}

#content form .submit-clear.padded {
    padding: 20px 0;
}

/************* Footer ***************/

#siteInfo {
    background: url(../image/green_bg.jpg) repeat-y;
    border: 1px solid #CCCCCC;
    clear: both;
    color: #CCCCCC;
    font-size: 75%;
    padding: 10px;
}

#siteInfo img {
    padding: 4px 4px 4px 10px;
    vertical-align: middle;
}